body {
 font-family: Arial, sans-serif;
 background-color: #f4f4f4;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

.container {
 background-color: #ffffff;
 border-radius: 10px;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
 padding: 20px;
 width: 300px;
 text-align: center;
}

h1 {
 margin-bottom: 20px;
 color: #333;
}

.profile-pic img {
 border-radius: 50%;
 width: 100px;
 height: 100px;
 margin-bottom: 20px;
}

.info p {
 margin: 10px 0;
 color: #666;
}

strong {
 color: #333;
}
